footer.footer--principal
	.logo.logo--footer: img(src="../images/logo.png")
	nav.nav--footer: ul
		li: a(href="pagina-principal.html") home
		li: a(href="articulo.html") Notas
		li: a(href="perfil.html") Perfil
	.nav--social: ul
		li Siguenos
		li: a(href="#"): i.fab.fa-instagram
		li: a(href="#"): i.fab.fa-pinterest
		li: a(href="#"): i.fab.fa-twitter
		li: a(href="#"): i.fab.fa-facebook-f