footer.footer--principal
	.logo.logo--footer: img(src="../images/logo.png")
	nav.nav--footer: ul
		li: a(href="#") Almendra
		li: a(href="#") Invisible
		li: a(href="#") Pescado
		li: a(href="#") Jade
		li: a(href="#") Solista
	.nav--social: ul
		li Siguenos
		li: a(href="#"): i.fab.fa-instagram
		li: a(href="#"): i.fab.fa-pinterest
		li: a(href="#"): i.fab.fa-twitter
		li: a(href="#"): i.fab.fa-facebook-f