header.header--principal
	.logo.logo--header: img(src="../images/logo.png")
	nav.nav--header: ul
		li: a(href="pagina-principal.html") home
		li: a(href="articulo.html") Notas
		li: a(href="perfil.html") Perfil

	a(href="resultados-busqueda.html" class="header__busqueda")
		i.fas.fa-search
		span Search