header.header--principal
	.logo.logo--header: img(src="../images/logo.png")
	nav.nav--header: ul
		li: a(href="#") almendra
		li: a(href="#") invisible
		li: a(href="#") pescado
		li: a(href="#") jade
		li: a(href="#") solista
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search