extend componentes/plantilla.pug
block contenidos
		main.contenedor--home
			+caja--con-fondo-grande ('Portada.jpg', "Eterno", 'Luis Alberto Spinetta', 'Multifacético artista argentino, cantante, intelectual, guitarrista, poeta, escritor, dibujante, productor discográfico, compositor, considerado uno de los más importantes y respetados músicos de Latinoamérica.')
			+caja--con-fondo-pequena ('caja-rdr2','Almendra.jpg', "Almendra", 'Considerado el sexto mejor álbum del rock argentino ')
			.banner--homepage
				h3 Los últimos días del genio:
				p Spinetta fue desde muy joven un fumador compulsivo y la asociación del tabaquismo y el cáncer de pulmón que causó su muerte, también fue objeto de debate público.
				a.button Leer mas
			+caja--con-fondo-pequena ('caja-artaud','Artaud.jpg', "Artaud", 'Una de las obras culminantes de la música latinoamericana')
			+caja--con-fondo-pequena ('caja-pescado2','pescado2.jpg', "Pescado 2", '"Este es un álbum doble. Se compone entonces de 2 discos. Uno se llama Pescado, otro se llama 2."')
			+caja--con-fondo-pequena ('caja-AlmaDiamante','almaDiamante.jpg', "Jade", 'Spinetta Jade actuó durante 1980 y 1981 paralelamente a Almendra')
			+caja--con-fondo-mediana ('caja-multiple','multiple.jpg', "En la cima", 'En el podio de los grandes de la hitoria, inspiración para las nuevas generaciones')
			.sidebar--listado
				h3 Noticias Destacadas
				ul
					+listado-categoria('1','La amistad entre Vilas y Spinetta: del disco grabado en Nueva York al lazo familiar para toda la vida')
					+listado-categoria('2','Vera Spinetta habla de su disco debut: "Decidí experimentar con mi voz"')
					+listado-categoria('3','Día de la Música: los artistas recomiendan sus discos favoritos')
