extend componentes/plantilla.pug
block contenidos
	.buscador: form: input(type="text" placeholder="Spinetta" class="buscador__input")
	header.encabezado--con-filtros
		h2 20 Resultados para "Spinetta"
		.filtros
			span Filtrar Por
			a(href="#" class="fa fa-th-large")
			a(href="#" class="fa fa-bars")
	section.contenido
		+caja--estadistica("flaco1.jpg", "Video", "7 Años Sin Spinetta.", "Cuando se cumplen 7 años de la muerte de Luis Alberto Spinetta, además de recordarlo por su inmensidad poética y musical queríamos hacerlo desde su espiritualidad.")
		+caja--estadistica("flaco2.jpg", "Video", "Dante Spinetta se estrena en shows streaming", "Dante Spinetta prepara su próximo show streaming para este 10 de septiembre desde el Movistar Arena de Buenos Aires.")
		+caja--estadistica("flaco3.jpg", "Video", "Las mejores images del flaco", "Imagenes sorprendentes qe te van a servir para graficar la vida de Spinetta a lo largo de todos sus años de musico, acompañado de los mejores artistas del nuestro país.")
		