extends componentes/plantilla.pug
block contenidos
		section.intro 
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos [0] }
				p
					|Lorem ipsum dolor sit amet consectetur 
					|adipisicing elit. Sunt, beatae? Non cupiditate 
					|odit, ipsam eligendi iste magnam consectetur 
					|spanveritatis temporibus similique in illum 
					|consequuntur assumenda sequi. Quasi officia 
					|pariatur praesentium?
					span ipsam eligendi iste magnam consectetur 
					|spanveritatis temporibus similique in illum 
					|consequuntur assumenda sequi
				a.boton leer mas
		//- ul
		//- 	each CadaTitulo in titulos
		//- 		li=CadaTitulo //-todo esto era ejemplo de loops
		main.contenido
			+ caja ("imagen.png", titulos[1], "Lorem ipsum dolor sit amet consectetur")
			+ caja ("imagen.png", titulos[2], "adipisicing elit. Sunt, beatae? Non cupiditate ")
			+ caja ("imagen.png", titulos[3], "odit, ipsam eligendi iste magnam consectetur ")
