doctype html
html
	head
		meta(charset="UFT-8")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body
		header
			h1 PlatziGames
			a.boton registro
		section.intro 
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 Titulo Principal
				p
					|Lorem ipsum dolor sit amet consectetur 
					|adipisicing elit. Sunt, beatae? Non cupiditate 
					|odit, ipsam eligendi iste magnam consectetur 
					|spanveritatis temporibus similique in illum 
					|consequuntur assumenda sequi. Quasi officia 
					|pariatur praesentium?
					span ipsam eligendi iste magnam consectetur 
					|spanveritatis temporibus similique in illum 
					|consequuntur assumenda sequi
				a.boton leer mas
